<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
      #map{
        height: 650px;
        width: 100%;
      }
    </style>

    <!--External scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Local scripts-->
    <!-- <script src='/scripts/map_load.js'></script> -->
  </head>
  <body>
    <h1>My Google Map</h1>
    <div id="map"></div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyhZszVHyOZzJBDX2cmcBpv2FR2VbkGB4">
    </script>
  </body>
  </html>
