<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="/vendor/bootstrap3/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/vendor/bootstrap3/dist/css/simple-sidebar.css" rel="stylesheet" type="text/css"/>
    <link href="/vendor/bootstrap3/dist/css/header.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/vendor/bootstrap3/dist/css/map.css">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/checkLimit.js"></script>
    <title>tinyMapp</title>
  </head>
  <body>
    <div class="container">
        <% include partials/_header %>
      <main class ="body-wrapper">
        <form class="new-map-form" action="/maps" method="POST">
          <textarea name="mapname" class="form-group" placeholder="Enter the name of your map"></textarea>
          <span class="errMsg label label-danger"></span>
          <input class="width btn btn-danger black-background white btn-block"type="submit" value="Create Map">
        </form>
        <br>
        <section class ="mapNameContainer">
          <h4 style="padding-bottom: 20px">Check dem maps out</h4>
          <div class ="container">
            <ul>
              <div class = "col">
                <% for(var id in maps){ %>
                  <li class="item">
                  <a class="col-sm-1" name="listname" href="/maps/<%=maps[id].id%>"> <%=maps[id].name%> </a>
                  <form method="POST" action="/maps/<%=maps[id].id%>/delete" class="form-inline">
                    <button class=" color remove btn btn-danger background glyphicon glyphicon-remove" ></button>
                  </form>
                  </li>
                <% }; %>
            </div>
            </ul>
          </div>
        </section>
      </main>
    </div>
    <script src="/vendor/bootstrap3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
